*.py text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.toml text eol=lf
requirements.txt text eol=lf
Dockerfile text eol=lf
*.mmd text eol=lf
.pylintrc text eol=lf
.dockerignore text eol=lf
requirements-test.txt text eol=lf
